$text: #111111;
$text-grey: #707070;
$primary: #0065D9;
$primary-light: #E0EDFA;
$disable: #989898;
$black: #111111;

$yellow: #FFCC00;
$coral: #F29191;
$green: #ADFF00;

$error: #d32f2f;
$secondary: #5487ab;

$light-grey: #d3d3d3;
$background-white: #f9f9f9;
$container-width: 90%;
$duration: 0.15s;
$disable: rgb(155, 155, 155);
